html {
    box-sizing: border-box;
    font-size: 1rem;
}

.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 105vh;
    padding-top: 1.125em;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 1.5em 2em;
    position: absolute;
    transform: all 0.3s;
    background-color: white;
    z-index: 9;
    top:  0px;
    width: 100%;
}

.nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul li {
    display: flex;
}

.nav ul li a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
    color: #333;
    padding: 0.25em 0;
    margin: 0 1.8em;
    text-transform: uppercase;
}

.nav ul li.logo .black {
    display: none;
}

.nav ul li.logo a {
    margin: 0 4em;
}

.nav-icon {
    position: absolute;
    top: 27px;
    right: 30px;
    padding: 5px;
    width: 40px;
    z-index: 1;
    cursor: pointer;
}

.nav-icon span {
    background: #333;
    width: 30px;
    height: 1px;
    display: block;
    transition: 300ms linear all;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(3) {
    width: 20px;
    margin: 0 10%;
}

.nav-icon span:nth-child(2) {
    margin: 5px 0;
    width: 25px;
}

.nav-icon:hover span:nth-child(1),
.nav-icon:hover span:nth-child(3) {
    width: 23px;
}





